body {
    background-color: #f8f9fa;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.title {
    font-size: 28px;
    margin-top: 20px;
}

.card {
    width: 400px;
    background-color: #f1f6fb;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
    border-width: 1px;
}

.card-header {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    border-width: 1px;
    border-bottom-color: #97aabe;
}

input {
    position: absolute;
    width: 30%;
    margin: 10px;
}

::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #a6a7a8 !important;
}

.btn-primary {
    background-color: #8298a8;
    border: none;
}

.btn-primary:hover {
    background-color: #6c7f8c;
}

.linkBtn {
    text-decoration: none !important;
    color: #8298a8;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.linkBtn:hover {
    color: #6c7f8c;
}